*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(./bg.png);
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}
.snow,
.snow::before,
.snow::after {
  content: '';
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(5px 5px at 150px 100px, #fff, transparent),
  radial-gradient(6px 6px at 250px 200px, #fff, transparent),
  radial-gradient(4px 4px at 350px 300px, #fff, transparent),
  radial-gradient(5px 5px at 450px 400px, #fff, transparent),
  radial-gradient(6px 6px at 550px 150px, #fff 70%, transparent),
  radial-gradient(4px 4px at 100px 250px, #fff 70%, transparent),
  radial-gradient(5px 5px at 200px 350px, #fff 70%, transparent),
  radial-gradient(6px 6px at 300px 450px, #fff 70%, transparent),
  radial-gradient(4px 4px at 400px 550px, #fff 70%, transparent);
  background-size: 750px 750px;
  animation: snowfall 3s linear infinite;
}
.snow::after {
  margin-left: -230px;
  opacity: 0.9;
  animation-duration: 6s;
  animation-direction: reverse;
}
.snow::before {
  margin-left: -330px;
  animation-duration: 9s;
  animation-direction: reverse;
}
@keyframes snowfall {
  to {
    transform: translateY(750px);
  }
}